* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorOscuro: #222831;
    --colorMedianoOscuro: #232D3F;
    --colorMediano: #393E46;
    --colorClaro: #EEEEEE;
    --colorCeleste: #00ADB5;

    --escalaClara: #F0F5F9;
    --escalaMedianaClara: #C9D6DF;
    --escalaMedianaOscuro: #52616B;
    --escalaOscura: #1e2022;

}

body {
background-color: var(--escalaOscura);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.fa-solid {
    cursor: pointer;
}

/* -------- 1. HEADER ------ */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--escalaOscura);
}

.ctn {
    max-width: 2000px;
    margin: auto;
    width: 100%;
}

.ctn-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
}

/* -------- 1.1 LOGO ------ */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
}

.logo.active {
    display: none;
}

.logo img{
    width: 22px;
    margin-left: 10px;
}

.logo span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* -------- 1.2 BUSCADOR ------ */

.ctn-buscador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.ctn-buscador .buscador {
    max-width: 500px;
    width: 65%;
    display: flex;
    gap: 8px;
    padding: 8px 15px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--colorMediano)
}

.ctn-buscador .buscador.active {
    width: 85%;
}

#input-buscador {
    width: 100%;
    border: none;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    color: white;
    background-color: transparent;
}

.ctn-buscador .fa-solid {
    font-size: 1rem;
    color: white;
}

.ctn-buscador .ctn-btn-buscador {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ctn-buscador .ctn-btn-buscador.active {
    display: flex;
}

.ctn-buscador .ctn-btn-buscador .fa-solid{
    font-size: 20px;
    color: rgb(235, 235, 235);
}

.ctn-buscador .ctn-btn-buscador .fa-xmark {
    font-size: 23px;
}

/* -------- 1.3 BOTONES ------ */

.ctn-botones {
    display: flex;
    margin-right: 15px;
    gap: 2px;
}

.ctn-botones.active {
    display: none;
}

.ctn-botones .btn-derecho {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.ctn-botones .mostrar-buscador {
    display: none;
}

/* -------- 1.4 OPCIONES ------ */

.ctn-botones .btn-derecho:hover {
    background-color: var(--colorMediano);
}

.btn-derecho .fa-solid {
    font-size: 1rem;
}

.btn-derecho .fa-ellipsis-vertical {
    font-size: 1.1rem;
}

/* -------- 2. MENU ------ */

.ctn-menu {
    position: fixed;
    top: 0;
    z-index: -10;
    width: 190px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 65px 0px 10px 0px;
    background-color: var(--escalaOscura);
    overflow: hidden;

    transition: all 0.15s ease;
}

.ctn-menu.active {
    width: 42px;
}

/* -------- BOTON BAR ------ */

.ctn-bar {
    display: flex;
    align-items: center;
    padding: 0px 5px 1px 0px;
}

.ctn-bar button {
    background-color: transparent;
    width: 42px;
    height: 42px;
    min-width: 42px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctn-bar button:hover {
    background-color: var(--colorMediano);
}

.ctn-bar button i {
    color: white;
    font-size: 20px;
}

/* -------- OPCIONES A ------ */

.link-menu {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
    border-radius: 8px;
    color: var(--escalaClara);
    font-family: 'Open Sans', sans-serif;
    padding: 8px 15px 8px 8px;
    white-space: nowrap;
    overflow: hidden;
}

.link-menu:hover,
.link-active {
    background-color: var(--colorMediano);
    color: white;
}

.link-menu span {
    font-size: 15px;
    font-weight: 500;
}

.link-menu .fa-solid {
    min-width: 25px;
    width: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------------------- */
/* --------  CONTENEDOR PAGINA ------ */

.ctn-pagina {
    position: relative;
    width: calc(100% - 195px);
    margin-top: 70px;
    margin-left: 195px;
    min-height: calc(100vh - 70px);
    color: white;

    transition: all .15s ease;
}

.ctn-pagina.active {
    width: calc(100% - 47px);
    margin-left: 47px;
}

/* -------- 3. CONTENIDO PRINCIPAL ------ */

.ctn-principal {
    width: 100%;
    padding: 5px 45px 100px 45px;
}

/* -------- 3.1 SECTION ------ */

.ctn-principal .ctn-section {
    display: none;
}

.ctn-principal .ctn-section.active {
    display: block;
}

/* -------- 3.1.1 ACC SECTION ------ */

.ctn-section .acc-section.active {
    display: none;
}

.ctn-section .acc-section h1 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 27px;
}

/* -------- 3.1.1.1 CTN GRID / SLOT GRID ------ */

.acc-section .ctn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    row-gap: 23px;
    column-gap: 45px;
}

.acc-section .ctn-grid .slot-grid {
    width: 100%;
    display: flex;
    min-height: 305px;
    border-radius: 8px;
    cursor: pointer;
}

.ctn-grid .slot-grid:hover .ctn-slot-grid .img-slot {
    box-shadow: 0px 0px 7px 2px rgb(116, 116, 116);
}

.slot-grid .ctn-slot-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slot-grid .ctn-slot-grid .img-slot {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    border-radius: 8px;
    min-height: 205px;
}

.slot-grid .ctn-slot-grid .texto-slot {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 15px 5px 10px;
}

.slot-grid .ctn-slot-grid .texto-slot span {
    padding: 10px 0px 4px 0px;
    font-size: 16px;
    font-weight: 600;
}

.slot-grid .ctn-slot-grid:hover .texto-slot span {
    text-decoration: underline 1px;
}

.slot-grid .ctn-slot-grid .texto-slot p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 2px 18px 4px 0px;
    font-weight: 300;
    color: #e4e4e4;
}







/* ---------------------------------- */
/* -------- 3.1 APLICACIONES ------ */

.ctn-section .ctn-app {
    display: none;
    color: white;
}

.ctn-section .ctn-app.active {
    display: block;
}








/* ------------------------- 3.1.1 CALCULADORA DE CALORÍAS ----------------------- */

.app-calc-cal {
    display: grid;
    max-width: 900px;
    margin: 15px auto 0 auto;
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    box-shadow: 0px 0px 9px 0px rgba(97, 97, 97, 0.75);
    padding: 12px 13px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas: 
        "back-cal titulo-cal titulo-cal vacio1-cal"
        "datos-cal datos-cal resultado-cal resultado-cal";
} 

.app-calc-cal .grid-btn-back {
    grid-area: back-cal;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.ctn-btn-back .btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 40, 40);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    color: white;
    cursor: pointer;
}



.app-calc-cal .grid-titulo-cal {
    grid-area: titulo-cal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    font-family: 'Open Sans', sans-serif;
}


.app-calc-cal .grid-datos-cal {
    grid-area: datos-cal;
    margin: 0 auto;
    padding: 10px 0px;
}

.app-calc-cal .grid-datos-cal .ctn-dato-cal {
    width: 100%;
    padding: 10px 10px;
}

.app-calc-cal .grid-datos-cal .ctn-dato-cal label {
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
}

.app-calc-cal .grid-datos-cal .ctn-dato-cal input{
    padding: 10px 10px;
    border-radius: 8px;
    min-width: 182px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.app-calc-cal .grid-datos-cal .ctn-dato-cal select {
    padding: 8px 10px;
    border-radius: 8px;
    min-width: 182px;
    outline: none;
    border: none;
}

.app-calc-cal .grid-datos-cal .ctn-dato-cal .ctn-alerta-cal p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.801);
}

/*  botones */


.app-calc-cal .btn-enviar-cal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 10px 5px 10px;
}

.app-calc-cal .btn-enviar-cal .btn-restablecer{
    background-color: rgb(219, 40, 40, 0.85);
}

.app-calc-cal .btn-enviar-cal .btn-restablecer:hover {
    background-color: rgb(226, 12, 12);
}

.app-calc-cal .btn-enviar-cal button {
    padding: 8px 12px;
    background-color: rgb(47, 175, 47, 0.85);
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.app-calc-cal .btn-enviar-cal #btn-calcular-cal:hover {
    background-color: rgb(39, 185, 39);
}




.app-calc-cal .grid-result-cal {
    grid-area: resultado-cal;
    padding: 10px 0px;
    margin: 0 auto;
}

.app-calc-cal .grid-result-cal .ctn-result-cal {
    padding: 10px;
}

.app-calc-cal .grid-result-cal .ctn-result-cal span {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.app-calc-cal .grid-result-cal .ctn-result-cal .num-calorias {
    font-size: 25px;
}

.app-calc-cal .grid-result-cal .ctn-result-cal #num-calorias {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 204, 255);
}

.app-calc-cal .grid-result-cal .ctn-macronutrientes-cal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.ctn-macronutrientes-cal .ctn-sect-macro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 3px;
    gap: 10px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    box-shadow: 0px 0px 3px 2px rgba(66, 66, 66, 0.75);
}

.ctn-macronutrientes-cal .ctn-sect-macro .text-tit-macro{
    font-size: 13px;
}

.ctn-macronutrientes-cal .ctn-sect-macro .letra-a {
    font-size: 12px;
}

.ctn-macronutrientes-cal .ctn-sect-macro .valor-porcentaje-cal {
    color: rgb(0, 204, 255);
    font-size: 16px;
}


.ctn-macronutrientes-cal .ctn-sect-macro .text-porc {
    font-size: 10px;
}








/* -------- 3.2 FOOTER ------ */

.ctn-footer {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    bottom: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px 45px;
    color: #C9D6DF;
}






/**/

.ctn-codigos {
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.ctn-codigos div {
    padding: 10px;
}

.ctn-codigos a {
    color: white;
    padding: 2px 5px;
    border-radius: 8px;
    background-color: rgb(20, 170, 70);
}






/* -------- MEDIA QUERIS------ */


/* @media screen and (max-width: 1700px) {

    .acc-section .ctn-grid {
        grid-template-columns: repeat(auto-fit, max-width(100px, 1fr));
    }

}

@media screen and (max-width: 1480px) {

    .acc-section .ctn-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1200px) {

    .acc-section .ctn-grid {
        grid-template-columns: repeat(2, 1fr);
    }

} */







@media screen and (max-width: 850px) {

    .app-calc-cal {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;

        grid-template-areas: 
            "back-cal vacio2-cal vacio2-cal vacio1-cal"
            "titulo-cal titulo-cal titulo-cal titulo-cal"
            "datos-cal datos-cal datos-cal datos-cal"
            "resultado-cal resultado-cal resultado-cal resultado-cal";
    }

    .app-calc-cal .grid-datos-cal .ctn-dato-cal label {
        min-width: 90px;
    }

    .app-calc-cal .grid-datos-cal .ctn-dato-cal input{
        min-width: 100%;
    }

    .app-calc-cal .grid-datos-cal .ctn-dato-cal select {
        min-width: 100%;
    }

    .app-calc-cal .btn-enviar-cal {
        gap: 5px;
    }

    .app-calc-cal .grid-titulo-cal h2 {
        text-align: center;
    }

    .app-calc-cal .btn-enviar-cal button {
        padding: 6px 6px;
        font-size: 13px;
    }

    .app-calc-cal .grid-result-cal .ctn-result-cal .tus-calorias {
        font-size: 18px;
    }

}

@media screen and (max-width: 560px) {

    .acc-section .ctn-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .ctn-principal {
        padding: 5px 19px 100px 19px;
    }

    .ctn-botones {
        display: flex;
        margin-right: 5px;
    }

    .ctn-botones .mostrar-buscador {
        display: flex;
    }

    .ctn-buscador {
        display: none;
    }
    
    .ctn-buscador.active {
        display: flex;
    }


}